doctype
html( lang="en" )
  head
    title Emily Greenaway
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='' )
    link(href="css/main.css", rel="stylesheet")
    link(rel='shortcut icon' href='favicon.ico')

    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700", rel="stylesheet")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )

  body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-71096511-1', 'auto');  ga('send', 'pageview');

    .grid
      .grid-sizer
      .grid-item.grid-item--name.f.uni1.uni2.p
        .content
          img(src='images/heading-min.jpg')

          .button-group.filter-button-group
            button(data-filter='*').button.button__all
             span All
            button(data-filter='.f').button.button__foundation
              span Art Foundation
            button(data-filter='.uni1').button.button__uni1
              span Exhibition Design Year 1
            button(data-filter='.uni2').button.button__uni2
              span Exhibition Design Year 2
            button(data-filter='.p').button.button__pencil
              span Pencil Drawings

          .social-buttons
            a(href="https://instagram.com/emilymgreenaway/" target="_blank")
             img(src='images/Instagram.png')
            a(href="http://fineartkingston.co.uk/emilygreenaway/" target="_blank")
              img(src='images/Wordpress.png')
            a(href="https://www.linkedin.com/in/egreenaway" target="_blank")
              img(src='images/Linkedin.png')
      .grid-item
        img(src='images/Photoshop Collage 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none" )
      .grid-item.uni2
        img(src='images/Themeatic Diagrammatic Perspective. Grey border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic 3-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/AS project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 6-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal Lifedrawing 4-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Photoshop Collage-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Pen installation-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective Sketch 2. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal Lifedrawing 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow Photography-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil Drawing 7-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.f
        img(src='images/Pencil Drawing 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Vertebra-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 3 Improved-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal Lifedrawing 3-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 5-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 1-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow Photography. 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Foundation Show-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Canon Stand 1. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic Illustration-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 4-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.f
        img(src='images/Pencil Drawing-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil Drawing 8-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective Sketch 3. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 4-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Tempest Project 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Tempest Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 3-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Photoshop Collage 3-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil Drawing 9-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Cube Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 2-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Themeatic Diagram. Grey border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Canon Stand 2. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Fashion Final Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Floor Plan 1-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective Sketch. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Plan, Section, Elevation. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Plan. No border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Thematic Sequence Board. Grey border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      //- Images added 06/02/2016
      .grid-item.uni2
        img(src='images/BOXPARKISOMETRIC resized and watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Front Elevation Resized and Watermarked.png', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/INTERNTAL VISUAL RENDERED Resized and Watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Long Section Resized and Watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Plan resized and watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")     
      //- Images added 06/02/2016
      .grid-item.uni2
        img(src='images/Beauty and the Beast Plan Upstairs Cropped.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Interactive room.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Isometric Rendered.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Stairs View.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/View from stairs Rendered.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")

    script( src='javascript/imagesloaded.pkgd.min.js' )
    script( src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')
    script( src='javascript/main.js' )
