doctype
html( lang="en" )
  head
    title Emily Greenaway
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='' )
    link(href="css/main.css", rel="stylesheet")
    link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')

    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700", rel="stylesheet")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )

  body
    .grid
      .grid-sizer
      .grid-item.grid-item--name.f.uni1.uni2.p
        .content
          img(src='images/heading-min.jpg')
          .button-group.filter-button-group
            button(data-filter='*').button.button__all
             span All
            button(data-filter='.f').button.button__foundation
              span Art Foundation
            button(data-filter='.uni1').button.button__uni1
              span Exhibition Design Year 1
            button(data-filter='.uni2').button.button__uni2
              span Exhibition Design Year 2
            button(data-filter='.p').button.button__pencil
              span Pencil Drawings
      .grid-item
        img(src='images/Photoshop Collage 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none" )
      .grid-item.uni2
        img(src='images/Themeatic Diagrammatic Perspective. Grey border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Acrylic 3-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Acrylic 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/AS project-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 6-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Charcoal Lifedrawing 4-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Photoshop Collage-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Pen installation-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Charcoal Lifedrawing 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow Photography-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 7-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Vertebra-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 3 Improved-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Charcoal Lifedrawing 3-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 5-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 1-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow Photography. 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Foundation Show-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Acrylic Illustration-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 4-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 8-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 4-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Tempest Project 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Tempest Project-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 3-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Acrylic 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Acrylic-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Photoshop Collage 3-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil Drawing 9-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Cube Project-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial Planes Project 2-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Themeatic Diagram. Grey border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Canon Stand 1. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Canon Stand 2. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Fashion Final Project-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Floor Plan 1-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Perspective Sketch 2. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Perspective Sketch 3. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Perspective Sketch. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Plan, Section, Elevation. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Plan. No border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Thematic Sequence Board. Grey border-min.jpg', alt='', onload="$(this).fadeIn(1000)",style="display:none")
     

  script( src='javascript/imagesloaded.pkgd.min.js' )
  script( src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')
  script( src='javascript/main.js' )
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      







    