doctype
html( lang="en" )
  head
    title Emily Greenaway
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='' )
    link(href="css/main.css", rel="stylesheet")
    link(rel='shortcut icon' href='favicon.ico')

    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700", rel="stylesheet")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )

  body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-71096511-1', 'auto');  ga('send', 'pageview');

    .grid
      .grid-sizer
      .grid-item.grid-item--name.f.uni1.uni2.p
        .content
          img(src='images/heading-min.jpg' alt="Emily Greenaway - Exhibition Design Student")

          .button-group.filter-button-group
            button(data-filter='*').button.button__all
             span All
            button(data-filter='.f').button.button__foundation
              span Art Foundation
            button(data-filter='.uni1').button.button__uni1
              span Exhibition Design Year 1
            button(data-filter='.uni2').button.button__uni2
              span Exhibition Design Year 2
            button(data-filter='.p').button.button__pencil
              span Pencil Drawings

          .social-buttons
            a(href="https://instagram.com/emilymgreenaway/" target="_blank")
             img(src='images/Instagram.png' alt="Instagram")
            a(href="http://fineartkingston.co.uk/emilygreenaway/" target="_blank")
              img(src='images/Wordpress.png' alt="Wordpress Blog")
            a(href="https://www.linkedin.com/in/egreenaway" target="_blank")
              img(src='images/Linkedin.png' alt="Linked In Account")
      .grid-item
        img(src='images/Photoshop%20Collage%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none" )
      .grid-item.uni2
        img(src='images/Themeatic%20Diagrammatic%20Perspective.%20Grey%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic%203-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/AS%20project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil%20Drawing%206-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal%20Lifedrawing%204-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Photoshop%20Collage-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Pen%20installation-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective%20Sketch%202.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal%20Lifedrawing%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow%20Photography-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil%20Drawing%207-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.f
        img(src='images/Pencil%20Drawing%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Vertebra-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial%20Planes%20Project%203%20Improved-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f.p
        img(src='images/Charcoal%20Lifedrawing%203-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil%20Drawing%205-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial%20Planes%20Project%201-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Photography%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Shadow%20Photography.%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.f
        img(src='images/Foundation%20Show-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Canon Stand%201.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic%20Illustration-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial%20Planes%20Project%204-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.f
        img(src='images/Pencil%20Drawing-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil%20Drawing%208-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective%20Sketch%203.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil%20Drawing%204-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Tempest%20Project%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Tempest%20Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p
        img(src='images/Pencil%20Drawing%203-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Acrylic-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Photoshop%20Collage%203-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.p.uni1
        img(src='images/Pencil%20Drawing%209-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Cube%20Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Serial%20Planes%20Project%202-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Themeatic%20Diagram.%20Grey%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Canon%20Stand%202.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Fashion%20Final%20Project-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item
        img(src='images/Floor%20Plan%201-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Perspective%20Sketch.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Plan,%20Section,%20Elevation.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni1
        img(src='images/Plan.%20No%20border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Thematic%20Sequence%20Board.%20Grey border-min.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      //- Images added 06/02/2016
      .grid-item.uni2
        img(src='images/BOXPARKISOMETRIC%20resized%20and%20watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Front%20Elevation%20Resized%20and%20Watermarked.png', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/INTERNTAL%20VISUAL%20RENDERED%20Resized%20and%20Watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Long%20Section%20Resized%20and%20Watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Plan%20resized%20and%20watermarked.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")     
      //- Images added 06/02/2016
      .grid-item.uni2
        img(src='images/Beauty%20and%20the%20Beast%20Plan%20Upstairs%20Cropped.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Interactive%20room.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Isometric%20Rendered.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/Stairs%20View.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")
      .grid-item.uni2
        img(src='images/View%20from%20stairs%20Rendered.jpg', alt='Emily Greenaway\'s Artwork', onload="$(this).fadeIn(1000)",style="display:none")

    script( src='javascript/imagesloaded.pkgd.min.js' )
    script( src='//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')
    script( src='javascript/main.js' )
